@model IBM.WatsonDeveloperCloud.Discovery.v1.Model.ListEnvironmentsResponse

@section Styles{
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Prueba Watson Discovery Service";
}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-info">Listado de Entornos</h3>

@*<p>@ViewData["Enviroments"]</p>*@


<table id="tblEnviroment" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>environment_id</th>
            <th>name</th>
            @*<th>description</th>
                <th>created</th>
                <th>updated</th>*@
            <th>read_only</th>
        </tr>
    </thead>

</table>


<h3 class="alert alert-info">Configuraciones</h3>

@*<p>@ViewData["Configurations"]</p>*@


<table id="tblConfigurations" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>configuration_id</th>
            <th>name</th>
            @*<th>description</th>
                <th>created</th>
                <th>updated</th>*@
        </tr>
    </thead>

</table>

<div id="divCreateConfig">
    <label>Nombre Configuración</label>
    <input type="text" id="queryCreateConfig" placeholder="Ingrese nombre de configuración" />
    <input type="text" id="queryCreateModel" placeholder="Ingrese ID de modelo" />
    <button id="btnCreateConfig" class="btn btn-warning">Crear</button>

    <p id="pCreateConfig"></p>
</div>

<label>ID Configuración</label>
<input type="text" id="queryConfigID" placeholder="Seleccione su configuración" />
<button id="btnConfigID" class="btn btn-success">Consultar</button>
<button id="btnEliminarConfig" class="btn btn-danger">Eliminar</button>

<p id="pConfigID"></p>


<div id="divModelUpdate" hidden>
    <label>ID Model</label>
    <input type="text" id="queryModelID" placeholder="Seleccione su modelo" />
    <button id="btnModelID" class="btn btn-success">Actualizar</button>

    <p id="pModelID"></p>
</div>


<h3 class="alert alert-info">Colecciones</h3>

@*<p>@ViewData["Collections"]</p>*@

<table id="tblCollections" class="display" cellspacing="0" style="margin:0;">
    <thead>
        <tr>
            <th>configuration_id</th>
            <th>name</th>
            @*<th>description</th>
                <th>created</th>
                <th>updated</th>*@
            <th>configuration_id</th>
            <th>language</th>
        </tr>
    </thead>

</table>

<div id="divCollections">
    <label>Nombre Colección</label>
    <input type="text" id="queryCreateCollectionName" placeholder="Ingrese nombre de colección" />
    <input type="text" id="queryCreateCollectionConfig" placeholder="Ingrese ID de configuración" />
    <button id="btnCreateCollection" class="btn btn-warning">Crear</button>

    <p id="pCreateCollection"></p>
</div>

<div id="divCollections">
    <label>ID Collection</label>
    <input type="text" id="queryCollectionID" placeholder="Seleccione su colección" />
    <button id="btnCollectionID" class="btn btn-success">Consultar</button>
    <button id="btnEliminarCollectionID" class="btn btn-danger">Eliminar</button>

    <p id="pCollectionID"></p>
</div>


<div id="divDocuments">
    <h3 class="alert alert-info">Documentos</h3>

    <p>@ViewData["Documents"]</p>


    <label>ID Documento</label>
    <input type="text" id="queryDocumentID" placeholder="Seleccione su colección" />
    <button id="btnEliminarDocumentID" class="btn btn-danger">Eliminar</button>

    <button id="btnSave" type="submit" class="btn btn-primary">Agregar Documento</button>


    <div id="createdDoc" style="margin-top:1rem;margin-bottom:1rem;"></div>
</div>


<div>
    <h3 class="alert alert-info">Consultas</h3>

    <label>¿Qué le provoca hoy?</label>
    <input type="text" name="queryInput" placeholder="Escriba su consulta..." />
    <button id="btnQuery" class="btn btn-success">Consultar</button>

</div>


@section Scripts {

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $.extend(true, $.fn.dataTable.defaults, {
            lengthChange: false,
            searching: false,
            language: {
                lengthMenu: "Mostrar _MENU_ registros por página.",
                zeroRecords: "Lo sentimos. No se encontraron registros.",
                info: "Mostrando página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros aún.",
                infoFiltered: "(filtrados de un total de _MAX_ registros)",
                search: "Búsqueda",
                LoadingRecords: "Cargando ...",
                Processing: "Procesando...",
                SearchPlaceholder: "Comience a teclear...",
                paginate: {
                    previous: "Anterior",
                    next: "Siguiente"
                }
            }
        });

        $(function () {


            $.ajax({
                url: '@Url.Action("GetEnvironments", "Home")',
                method: 'POST',
                dataType: 'json'
            })
            .done(function (result) {

                $('#tblEnviroment').DataTable({           
                    data: result.environments,
                    columns: [
                        { data: "environment_id" },
                        { data: "name" },
                        //{ data: "description" },
                        //{ data: "created" },
                        //{ data: "updated" },
                        { data: "read_only" }
                    ]
                });
            });

            $.ajax({
                url: '@Url.Action("GetConfigurations", "Home")',
                method: 'POST',
                dataType: 'json'
            })
            .done(function (result) {

                $('#tblConfigurations').DataTable({
                    data: result.configurations,
                    columns: [
                        { data: "configuration_id" },
                        { data: "name" }
                        //{ data: "description" },
                        //{ data: "created" },
                        //{ data: "updated" }
                    ]
                });
            });

             $.ajax({
                url: '@Url.Action("GetCollections", "Home")',
                method: 'POST',
                dataType: 'json'
            })
            .done(function (result) {

                $('#tblCollections').DataTable({
                    data: result.collections,
                    columns: [
                        { data: "collection_id" },
                        { data: "name" },
                        //{ data: "description" },
                        //{ data: "created" },
                        //{ data: "updated" },
                        { data: "configuration_id" },
                        { data: "language" }
                    ]
                });
            });

            $('#btnSave').click(function () {

                var _configid = $("#queryConfigID").val();
                var _collecctionid = $("#queryCollectionID").val();


                if (_configid == null || _configid == undefined) {
                    alert("Debe ingresar un Código de Configuración");
                    return;
                }


                if (_collecctionid == null || _collecctionid == undefined) {
                    alert("Debe ingresar un Código de Colección");
                    return;
                }

                var request = $.ajax({
                    url: '@Url.Action("AddDocument", "Home")',
                    method: 'POST',
                    data: { collectionid: _collecctionid, configid: _configid }
                });

                request.done(function (obj) {
                    $("#createdDoc").addClass("alert alert-info");
                        $("#createdDoc").text("Nuevo documento creado. ID: " + obj);
                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
            });


            $('#btnCreateConfig').click(function () {

                var _configname = $("#queryCreateConfig").val();
                var _modelid = $("#queryCreateModel").val();

                if (_configname == null || _configname == undefined) {
                    alert("Debe ingresar un Nombre Configuración");
                    return;
                }

                var request = $.ajax({
                        url: '@Url.Action("CreateConfiguration", "Home")',
                        method: 'POST',
                        data: { configname: _configname, modelid: _modelid }
                });

                request.done(function (obj) {
                    alert("Se creó la Configuración: " + obj);

                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
            });

            $('#btnConfigID').click(function () {

                var _configid = $("#queryConfigID").val();

                if (_configid == null || _configid == undefined) {
                    alert("Debe ingresar un ID de Configuración");
                    return;
                }

                var request = $.ajax({
                        url: '@Url.Action("GetConfiguration", "Home")',
                        method: 'POST',
                        data: { configid: _configid }
                });

                request.done(function (obj) {
                    $("#pConfigID").addClass("alert alert-warning");
                    $("#pConfigID").text(obj);
                    $("#divModelUpdate").show();

                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
            });


            $('#btnEliminarConfig').click(function () {

                var _configid = $("#queryConfigID").val();

                if (_configid == null || _configid == undefined) {
                    alert("Debe ingresar un ID de Configuración");
                    return;
                }

                var request = $.ajax({
                        url: '@Url.Action("DeleteConfiguration", "Home")',
                        method: 'POST',
                        data: { configid: _configid }
                });

                request.done(function (obj) {
                    alert("Se eliminó la Configuración: " + obj);

                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
            });


            $('#btnModelID').click(function () {

                var _configid = $("#queryConfigID").val();
                var _modelid = $("#queryModelID").val();

                if (_configid == null || _configid == undefined) {
                    alert("Debe ingresar un ID de Configuración");
                    return;
                }

                if (_modelid == null || _modelid == undefined) {
                    alert("Debe ingresar un ID de Modelo");
                    return;
                }

                var request = $.ajax({
                        url: '@Url.Action("UpdateConfiguration", "Home")',
                        method: 'POST',
                        data: { configid: _configid, modelid: _modelid }
                });

                request.done(function (obj) {
                    $("#pModelID").addClass("alert alert-danger");
                    $("#pModelID").text(obj);

                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
            });


            $('#btnCollectionID').click(function () {

                var _collectionid = $("#queryCollectionID").val();

                if (_collectionid == null || _collectionid == undefined) {
                    alert("Debe ingresar un ID de Colección");
                    return;
                }

                var request = $.ajax({
                        url: '@Url.Action("GetCollection", "Home")',
                        method: 'POST',
                        data: { collectionid: _collectionid }
                });

                request.done(function (obj) {
                    $("#pCollectionID").addClass("alert alert-warning");
                    $("#pCollectionID").text(obj);

                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
            });


             $('#btnCreateCollection').click(function () {

                 var _collectionname = $("#queryCreateCollectionName").val();
                 var _configid = $("#queryCreateCollectionConfig").val();

                 if (_collectionname == null || _collectionname == undefined) {
                    alert("Debe ingresar un Nombre de Colección");
                    return;
                 }

                 if (_configid == null || _configid == undefined) {
                     alert("Debe ingresar un ID de Configuración");
                     return;
                 }

                var request = $.ajax({
                        url: '@Url.Action("CreateCollection", "Home")',
                        method: 'POST',
                        data: { name: _collectionname, configid: _configid }
                });

                request.done(function (obj) {
                    alert("Se creó la Colección: " + obj);

                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
            });


            $('#btnEliminarCollectionID').click(function () {

                var _collectionid = $("#queryCollectionID").val();

                if (_collectionid == null || _collectionid == undefined) {
                    alert("Debe ingresar un ID de Colección");
                    return;
                }

                var request = $.ajax({
                        url: '@Url.Action("DeleteCollection", "Home")',
                        method: 'POST',
                        data: { collectionid: _collectionid }
                });

                request.done(function (obj) {
                    alert("Se eliminó la Colección: " + obj);

                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
             });


            $('#btnEliminarDocumentID').click(function () {

                var _documentid = $("#queryDocumentID").val();
                var _collectionid = $("#queryCollectionID").val();

                if (_collectionid == null || _collectionid == undefined) {
                    alert("Debe ingresar un ID de Colección");
                    return;
                }

                if (_documentid == null || _documentid == undefined) {
                    alert("Debe ingresar un ID de Documento");
                    return;
                }

                var request = $.ajax({
                        url: '@Url.Action("DeleteDocument", "Home")',
                        method: 'POST',
                        data: { collectionid: _collectionid, documentid: _documentid }
                });

                request.done(function (obj) {
                    alert("Se eliminó el Documento: " + obj);

                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Error de sistema: " + textStatus);
                    });
            });

            $("#btnQuery").click(function () {
                alert("En desarrollo");
            });

        }); //End Init


    </script>
}